/* CSS declarations go here */
.row {
  padding-top: 20px;
}
.center {
  text-align: center;
}

.pushRight {
  padding-left: 20px;
}

.bordered {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 6px 10px 10px #888888;

}

.pushRightButton {
  padding-left: 30px;
}

.innerBox {
  padding: 10px 10px 10px 10px;
}
.outsideContainer {
  padding: 2% 8% 0% 8%;
}
.centered {
  margin: 0 auto;
  display: table;
}
